.toRight-enter {
    transform: translateX(-100%);
}
.toRight-enter-active {
    transform: translateX(0%);
    transition: transform 300ms ease-in-out;
}
.toRight-enter-done {
    transform: translateX(0%);
}
.toRight-exit {
    transform: translateX(0%);
}
.toRight-exit-active {
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
}
.toRight-exit-done {
    transform: translateX(-100%);
}